# Secrets and Env
.env
.env.new
config.json
/data/
/worker/data/
/worker/xmrig/
/worker/xmrig-*/
/worker/xmrig.log
/build/monero/bitmonero.conf
/build/tari/config.toml
Caddyfile

# Python
__pycache__/
*.pyc
.pytest_cache/

# OS
.DS_Store