# 1. Define the logging template
x-logging: &default-logging
  driver: "json-file"
  options:
    max-size: "10m"
    max-file: "3"

services:
  tor:
    build: ./build/tor
    container_name: tor
    restart: unless-stopped
    logging: *default-logging
    volumes:
      - ${TOR_DATA_DIR}:/var/lib/tor
    expose:
      - "9050"
      - "9051"
    networks:
      mining_net:
        ipv4_address: 172.28.0.25
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "9050"]
      interval: 10s
      timeout: 5s
      retries: 5

  monerod:
    build: ./build/monero
    container_name: monerod
    restart: unless-stopped
    stop_grace_period: 1m
    logging: *default-logging
    environment:
      - MONERO_NODE_USERNAME=${MONERO_NODE_USERNAME}
      - MONERO_NODE_PASSWORD=${MONERO_NODE_PASSWORD}
      - MONERO_ONION_ADDRESS=${MONERO_ONION_ADDRESS}
    volumes:
      - ${MONERO_DATA_DIR}:/root/.bitmonero
      - /dev/hugepages:/dev/hugepages
      - ./build/monero/bitmonero.conf.template:/root/bitmonero.conf.template:ro
    ports:
      - "18080:18080" # P2P Port
      - "18081:18081" # RPC Port
      - "18083:18083" # ZMQ Port
    networks:
      mining_net:
        ipv4_address: 172.28.0.26
    depends_on:
      tor:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "--digest", "-u", "${MONERO_NODE_USERNAME}:${MONERO_NODE_PASSWORD}", "http://localhost:18081/get_info"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 60s

  tari:
    image: quay.io/tarilabs/minotari_node:latest-mainnet
    container_name: tari
    restart: unless-stopped
    stop_grace_period: 1m
    logging: *default-logging
    dns:
      - 1.1.1.1
      - 8.8.8.8
    environment:
      - WAIT_FOR_TOR=1
    volumes:
      - ${TARI_DATA_DIR}:/var/tari/node
      - ./build/tari:/var/tari/config
    ports:
      - "18102:18102" # Wallet port
      - "18142:18142" # GRPC port
    command:
      - --disable-splash-screen
      - --non-interactive
    networks:
      mining_net:
        ipv4_address: 172.28.0.27
    depends_on:
      tor:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "ps | grep minotari_node || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 30s

  p2pool:
    build: ./build/p2pool
    container_name: p2pool
    restart: unless-stopped
    logging: *default-logging
    privileged: true
    volumes:
      - ${P2POOL_DATA_DIR}:/root
      - ${P2POOL_DATA_DIR}/stats:/stats
      - /dev/hugepages:/dev/hugepages
    ports:
      - "3333:3333"   # Stratum
      - "3334:3334"   # Local API
      - "${P2POOL_PORT}:${P2POOL_PORT}" # P2P Sidechain
    command:
      - --host
      - 172.28.0.26
      - --rpc-port
      - "18081"
      - --rpc-login
      - "${MONERO_NODE_USERNAME}:${MONERO_NODE_PASSWORD}"
      - --zmq-port
      - "18083"
      - --wallet
      - ${MONERO_WALLET_ADDRESS} 
      - --merge-mine
      - tari://172.28.0.27:18142
      - ${TARI_WALLET_ADDRESS}
      - --onion-address
      - ${P2POOL_ONION_ADDRESS} 
      - --local-api
      - --stratum
      - 0.0.0.0:3333
      - --p2p
      - 0.0.0.0:${P2POOL_PORT}
      - --data-api
      - /stats
      - ${P2POOL_FLAGS}
    networks:
      mining_net:
        ipv4_address: 172.28.0.28
    depends_on:
      monerod:
        condition: service_healthy
      tari:
        condition: service_healthy
  
  dashboard:
      build: ./build/dashboard
      extra_hosts:
        - "host.docker.internal:host-gateway"
      container_name: dashboard
      restart: unless-stopped
      logging: *default-logging
      volumes:
        - ${P2POOL_DATA_DIR}/stats:/app/stats:ro
        - /home:/data:ro
        - /var/run/avahi-daemon/socket:/var/run/avahi-daemon/socket
      network_mode: "host"

networks:
  mining_net:
    driver: bridge
    name: mining_net
    ipam:
      config:
        - subnet: 172.28.0.0/24
        